__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.venv/
*.log
.DS_Store
results/
data/raw/

data/simulated/Ecoli_test_R1.fastq
data/simulated/Ecoli_test_R2.fastq

data/simulated/Ecoli_test1000_R1.fastq
data/simulated/Ecoli_test1000_R2.fastq

data/simulated/Ecoli_test5000_R1.fastq
data/simulated/Ecoli_test5000_R2.fastq
data/simulated/Ecoli_test10000_R1.fastq
data/simulated/Ecoli_test10000_R2.fastq

data/reference/
data/simulated/Ecoli_test50000_R1.fastq
data/simulated/Ecoli_test50000_R2.fastq
